
<div style="background-color: skyblue;height:884px;width: 1720px">
<div class="row">
<div class="container-fluid">
<div class="container" style="padding-top: 50px;background-color: white;margin-top: 200px">
<div class="col-lg-3 col-md-3 col-sm-3"></div>
<div class="col-lg-6 col-md-6 col-sm-6" style="text-align: center;">
	<h3 >
  <strong>Name:</strong>
  <%= @books.name %>
</h3>
 
<h3 >
  <strong>Author:</strong>
  <%= @books.author %>
</h3>
<h3 >
  <strong>Price:</strong>
  <%= @books.price %>
</h3>
<div style="font-size: 20px">
<%=  link_to "show pdf", @books.attachment.url, class:"btn btn-lg btn-danger;"  %>


<%= link_to 'Edit', edit_book_path(@books) %> |
<%= link_to 'Back', edit_book_path %>
</div>
</div>
<div class="col-lg-3 col-md-3 col-sm-3"></div>
</div>
</div>
</div>

</div>

